@charset "UTF-8";
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.image-grid {
  overflow: hidden;
  width: 90%;
  margin: 0 auto; }

.image-cell {
  width: 50%;
  float: left;
  display: inline-block; }

.image-cell img {
  display: block;
  width: 100%; }

.testimonial p {
  box-sizing: border-box;
  padding: 2em;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%); }

.image-cell.testimonial {
  height: 0px;
  padding-bottom: 32%;
  background: #f2383e;
  position: relative;
  font-family: "freight-text-pro";
  font-size: 18px;
  line-height: 1.5; }

@media screen and (max-width: 600px) {
  .image-cell {
    width: 100%; }

  .image-cell.testimonial {
    padding-bottom: 64%; } }
body {
  background: #f7f7f5; }

.site-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  position: relative; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

footer {
  background: black;
  padding: 4em; }

.arsehole {
  display: block;
  margin: 0 auto;
  width: 1.563em; }

.social-media {
  width: 100%;
  margin-top: 2em; }

.social-media ul {
  float: right; }

.social-media ul li {
  display: inline-block; }

.social-media ul li a {
  color: #c6c6c6;
  font-size: 1.25em;
  transition: color 0.4s ease-out; }

.social-media ul li a:hover {
  color: #f2383e; }

.hero {
  padding-bottom: 4em;
  border-bottom: 1px solid #f2383e; }

.logo {
  max-width: 320px;
  margin: 0 auto;
  display: block;
  margin-top: 4em; }

.intro p {
  font-family: "freight-text-pro";
  font-size: 1.125em;
  color: #f2383e;
  text-align: center;
  width: 40%;
  line-height: 1.5;
  margin: 4em auto 1em auto;
  display: block; }

.intro {
  margin-top: 5em;
  margin-bottom: 4em; }

.buy-me {
  font-family: 'Helvetica';
  /* text-transform: uppercase; */
  text-decoration: none;
  font-size: 1em;
  border: none;
  background: none;
  margin: 0 auto;
  display: block;
  margin-top: 3em;
  border-bottom: 1px solid;
  padding-bottom: 0px;
  background: #f2383e;
  color: white;
  padding: 0.65em 2.4em; }
  .buy-me:hover {
    cursor: pointer; }

@media screen and (max-width: 600px) {
  .intro p {
    width: 90%; } }
.hashtag {
  text-align: center;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125em;
  margin-bottom: 4em; }

.the-feed {
  background: #f2383e;
  position: relative;
  margin-top: 340px;
  padding: 0px 0 200px 0; }

.feed-wrapper {
  width: 90%;
  margin: 0 auto; }

.the-feed #instafeed {
  margin: 0 -5px; }

.the-feed #instafeed > a {
  padding: 5px;
  width: 33.333%;
  float: left;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out; }

.the-feed #instafeed > a:hover {
  opacity: 0.8; }

#instafeed a img {
  width: 100%;
  display: block; }

.the-feed:before {
  content: '';
  display: block;
  width: 100%;
  height: 170px;
  background: url(img/footer-fire.png) repeat;
  background-size: auto 180px;
  position: absolute;
  top: -170px; }

@media screen and (max-width: 600px) {
  .the-feed #instafeed > a {
    width: 100%; } }
@font-face {
  font-family: 'fontello';
  src: url("fonts/fontello.eot?19110942");
  src: url("fonts/fontello.eot?19110942#iefix") format("embedded-opentype"), url("fonts/fontello.woff?19110942") format("woff"), url("fonts/fontello.ttf?19110942") format("truetype"), url("fonts/fontello.svg?19110942#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?19110942#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-instagram:before {
  content: '\e800'; }

/* '' */
.icon-twitter:before {
  content: '\e801'; }

/* '' */

/*# sourceMappingURL=style.css.map */
