body {
	background: rgb(247,247,245);
}

.site-wrapper {
	max-width: 1400px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}