.social-media {
	width: 100%;
	margin-top: 1em;
}

.social-media ul {
	float: right;
}

.social-media ul li {
	display: inline-block;
}

.social-media ul li a {
	color: rgb(198,198,198);
	font-size: 1.25em;
}