.social-media {
	width: 100%;
	margin-top: 2em;
}

.social-media ul {
	float: right;
}

.social-media ul li {
	display: inline-block;
}

.social-media ul li a {
	color: rgb(198,198,198);
	font-size: 1.25em;
	transition: color 0.4s ease-out;
}

.social-media ul li a:hover {
	color: $red;
}

.hero {
	padding-bottom: 4em;
	border-bottom: 1px solid $red;
}