.intro {
	font-family: "freight-text-pro";
	font-size: 1.125em;
	color: $red;
	text-align: center;
	width: 60%;
	line-height: 1.5;
	margin: 5em auto 4em auto;
	display: block;

	h2 {
		font-size: 1.6em;
		margin-top: 2em;
		margin-bottom: 1em;
	}
	
	p {
		margin: 0 0 1em 0;
	}

	.image-block {
		div {
			display: inline-block;
			box-sizing: border-box;
			width: 27%;
			max-width: 190px;
			padding: 12px;
			background: rgb(255,255,255);
			border: 5px solid rgb(0,0,0);
			margin: 0 8px 2em;

			img {
				max-width: 100%;
				display: block;
			}
		}
	}
}

.intro {
	margin-top: 5em;
	margin-bottom: 4em;
}

.intro a {
	color: inherit;
}

form {
	margin-top: 3em;
	text-align: center;

	input, 
	select {
		display: block;
		margin: 0 auto 1em;;
		font-family: 'freight-text-pro';
		text-decoration: none;
		font-size: 1.1em;
		border: none;
		background: $red;
		color: rgb(255, 255, 255);
		padding: 0.55em 2.2em;
	}

	select {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.buy-me {
	// border-bottom: 1px solid;
	transition: background 0.3s ease-out;

	&:hover {
		cursor: pointer;
		background: lighten($red,10%);
	}

}

@media screen and (max-width: 600px) {
	.intro p {
		width: 90%;
	}
}



// body {
//     -webkit-backface-visibility: hidden;
//     transform: translateZ(0);

//     -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
//        -moz-animation: fadein 2s; /* Firefox < 16 */
//         -ms-animation: fadein 2s; /* Internet Explorer */
//          -o-animation: fadein 2s; /* Opera < 12.1 */
//             animation: fadein 2s;
// }

// @keyframes fadein {
//     from { opacity: 0; transform: translateY(10px) translateZ(0); }
//     to   { opacity: 1; transform: translateY(0px) translateZ(0); }
// }

// /* Firefox < 16 */
// @-moz-keyframes fadein {
//     from { opacity: 0; -moz-transform: translateY(10px) translateZ(0); }
//     to   { opacity: 1; -moz-transform: translateY(0px) translateZ(0); }
// }

// /* Safari, Chrome and Opera > 12.1 */
// @-webkit-keyframes fadein {
//     from { opacity: 0; -webkit-transform: translateY(10px) translateZ(0); }
//     to   { opacity: 1; -webkit-transform: translateY(0px) translateZ(0);}
// }

// /* Internet Explorer */
// @-ms-keyframes fadein {
//     from { opacity: 0; -ms-transform: translateY(10px) translateZ(0); }
//     to   { opacity: 1; -ms-transform: translateY(0px) translateZ(0); }
// }

// /* Opera < 12.1 */
// @-o-keyframes fadein {
//     from { opacity: 0; -o-transform: translateY(10px) translateZ(0); }
//     to   { opacity: 1; -o-transform: translateY(0px) translateZ(0); }
// }
